R/model_data/**
R/scripts/**
**/*.Rhistory
**/*.RData
**/*.docx
**/*.html
**/*.md
**/*.png
**/*.wmf
**/*.emf
**/*.log
**/*.sql
**/*.RDS
**/*.pdf
**/*.bak
**/*.tar.gz
**/*.RData*
.Rproj.user
/Library/*.Rcheck
