BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tMultiFactorRiskModelTypes
	(
	lModelTypeID bigint NOT NULL IDENTITY (1, 1) PRIMARY KEY,
	lLookback int NOT NULL,
	sName varchar(896) NOT NULL
	CONSTRAINT AK_LookbackNameFactor UNIQUE(lLookback, sName)
	) 
GO
CREATE NONCLUSTERED INDEX IX_tMultiFactorRiskModelTypes ON dbo.tMultiFactorRiskModelTypes
	(
	lModelTypeID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.tMultiFactorRiskModelTypes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
