BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tMultiFactorRiskFactorTypes
	(
	lFactorTypeID bigint NOT NULL IDENTITY (1, 1) PRIMARY KEY,
	sFactorTypeName varchar(900) NOT NULL,
	CONSTRAINT AK_FactorTypes_FactorTypeName UNIQUE( sFactorTypeName)
	)

GO
ALTER TABLE dbo.tMultiFactorRiskFactorTypes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
