BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tMultiFactorRiskModels
	(
	lModelID bigint NOT NULL IDENTITY (1, 1) PRIMARY KEY,
	lModelTypeID bigint NOT NULL,
	dtModelDate datetime NOT NULL,
	dtComputationDate datetime NOT NULL,
	CONSTRAINT AK_ModelTypeModelDateComputationDate UNIQUE(lModelTypeID, dtModelDate, dtComputationDate),
	CONSTRAINT FK_ModelTypeID_Models_ModelType FOREIGN KEY (lModelTypeID) REFERENCES dbo.tMultiFactorRiskModelTypes (lModelTypeID),
	) 
GO
CREATE NONCLUSTERED INDEX IX_tMultiFactorRiskModels ON dbo.tMultiFactorRiskModels
	(
	lModelTypeID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.tMultiFactorRiskModels SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
