BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tMultiFactorRiskFactorVariance
	(
	lModelID bigint NOT NULL,
	lFactorID bigint NOT NULL,
	dblVariance float NULL DEFAULT NULL,
	CONSTRAINT AK_FactorVariance_ModelID_FactorID UNIQUE(lModelID,lFactorID),
	CONSTRAINT FK_FactorVariance_ModelID_Models FOREIGN KEY (lModelID) REFERENCES [dbo].[tMultiFactorRiskModels] (lModelID),
	CONSTRAINT FK_FactorVariance_FactorID_Factors FOREIGN KEY (lFactorID) REFERENCES [dbo].[tMultiFactorRiskFactors] (lFactorID)
	)

GO
ALTER TABLE dbo.tMultiFactorRiskFactorVariance SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
