BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tMultiFactorRiskFactorCouples
	(
	lFactorCoupleID bigint NOT NULL IDENTITY (1, 1) PRIMARY KEY,
	lFactor1ID bigint NOT NULL,
	lFactor2ID bigint NOT NULL,
	CONSTRAINT CK_FactorCouples_Factor1ID_Factor2ID CHECK  (lFactor1ID <= lFactor2ID),
	CONSTRAINT FK_FactorCouples_Factor1ID_Factors FOREIGN KEY (lFactor1ID) REFERENCES dbo.tMultiFactorRiskFactors (lFactorID),
	CONSTRAINT FK_FactorCouples_Factor2ID_Factors FOREIGN KEY (lFactor2ID) REFERENCES dbo.tMultiFactorRiskFactors (lFactorID),
	CONSTRAINT AK_FactorCouples_Factor1ID_Factor2ID UNIQUE( lFactor1ID, lFactor2ID) 
	)
		
GO
ALTER TABLE dbo.tMultiFactorRiskFactorCouples SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
