BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tMultiFactorRiskModelFactors
	(
	lModelTypeID bigint NOT NULL,
	lFactorID bigint NOT NULL,
	CONSTRAINT AK_MultiFactorRiskModelFactors_ModelTypeFactorID UNIQUE(lModelTypeID, lFactorID),
	CONSTRAINT FK_ModelFactors_ModelTypeID_Models FOREIGN KEY (lModelTypeID) REFERENCES [dbo].[tMultiFactorRiskModelTypes] (lModelTypeID),
	CONSTRAINT FK_ModelFactors_FactorID_Factors FOREIGN KEY (lFactorID) REFERENCES [dbo].[tMultiFactorRiskFactors] (lFactorID)
	) 
GO
CREATE NONCLUSTERED INDEX IX_tMultiFactorRiskModelFactors ON dbo.tMultiFactorRiskModelFactors
	(
	lModelTypeID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.tMultiFactorRiskModelFactors SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
